html {
  height: 100%;
}

body {
  background: #212529;
  font-family: system-ui,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  height: 100%;
  display: flex;
  margin: 0;
}

.cover-container {
  max-width: 920px;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
}

.main {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.column {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

.card-body {
  color: #212529;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 0.2rem;
  margin-bottom: 0.85rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}

.setpoint {
  font-size: 1.85rem;
  font-weight: 600;
  margin-top: 0;
}

.danger {
  color: #dc3545;
}

.success {
  color: #198754;
}
